include *.md
include *.sh
include *.txt
include *.py
include license
include .pylintrc
include Makefile
include .editorconfig
recursive-include invenio_subjects_cessda *.csv
recursive-include invenio_subjects_cessda *.py
recursive-include invenio_subjects_cessda *.yaml
recursive-include tests *.py
include *.lock
include Pipfile
